.content-form{
  display: flex;
  justify-content: center;
  align-items: center;
 padding: 11px;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.2);
  border: 1px solid rgba(255,255,255,0.5) ;
  width: 50%;

}

.content-form form{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
}

.content-form form input{
  outline: none;
  background-color: rgba(255,255,255,0.2);
  border: none;
  border-left: 2px solid rgba(255,255,255,0.5) ;
  border-radius: 5px;
  padding: 7px;
  width: 100%;
  color: #f6f6f6;
}


.btn{
  background-color: rgba(255,255,255,0.2) ;
  height: 30px;
  padding: 0 25px;
  border: none;
  border-radius: 5px;
  box-shadow:  2px 2px 7px #8f8f8f

}

.btn:hover{
  cursor: pointer;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow:  5px 5px 25px #8f8f8f,
             -5px -5px 25px #ffffff;
}

@media (max-width:800px) {
  .content-form{
    width: 90%;
  }
 
 }
 